:root {
    /* Colors */
    --color-primary-cyan: hsl(185, 75%, 39%);
    --color-dark-blue: hsl(229, 23%, 23%);
    --color-grayish-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
    /*Typography*/
    --font-size-body: 1.8rem;
    --font-family-kumbh: 'Kumbh Sans', sans-serif;
    --font-weights-400: 400;
    --font-weights-700: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family-kumbh);
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-width: 375px;
    background-color: var(--color-primary-cyan);
    position: relative;
    overflow: hidden;
}

.circle-top {
    position: absolute;
    top: -550px;
    left: -750px;
}

.circle-bottom {
    position: absolute;
    bottom: -650px;
    right: -650px;
}

.card-container {
    min-width: 320px;
    height: 360px;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    z-index: 99;
}

.cover {
    width: 100%;
    height: 120px;
    background-image: url('./images/bg-pattern-card.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}

.user {
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    border-bottom: solid 1px hsla(0, 0%, 59%, .25);
}

.user__img-container {
    position: absolute;
    right: calc(50% - 50px);
    top: -50px;
    width: 100px;
    height: 100px;
}

.user__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px white;
}

.user__name {
    padding-top: 75px;
    padding-bottom: 10px;
    color: var(--color-dark-blue);
    font-size: var(--font-size-body);
    font-weight: var(--font-weights-700);
}

.user__age {
    color: var(--color-grayish-blue);
    font-weight: var(--font-weights-400);
    font-weight: var(--font-weights-400);
    margin-left: 4px;
}

.user__location {
    color: var(--color-grayish-blue);
    font-size: 1.4rem;
    letter-spacing: 0.25px;
}

.detail-container {
    height: 90px;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__qty {
    font-size: 1.8rem;
    font-weight: var(--font-weights-700);
    color: var(--color-dark-blue);
    padding-bottom: 8px;
}

.item__detail {
    color: var(--color-dark-gray);
    font-size: 0.9rem;
    font-weight: var(--font-weights-700);
    letter-spacing: 2px;
}

.attribution {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: calc(50% - 96px);
    padding: 10px;
    font-size: 1.2rem;
}

.attribution p {
    margin: 3px;
    pa
}

.attribution a {
    color: var(--color-dark-blue);
    font-weight: var(--font-weights-700);
    text-decoration: none;
    transition: all 0.250s ease-in;
}

.attribution a:hover {
    color: white;
}


@media only screen and (min-width:1440px) {
    .circle-top {
        top: -75%;
        left: -15%;
    }
    .circle-bottom {
        right: -200px;
        bottom: -600px;
    }
    .attribution {
        left: calc(50% - 161px);
        flex-direction: row;
    }
}